* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

   
    font-family: sans-serif;
  }

  body{
    background-color: lightblue;
  }
  .nav2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;


    font-family: sans-serif;

  }



.row:after{
    content: "";
  display: table;
  clear: both;
}
.h3{
  text-align: center;
  margin: 1em;
}

.column {
    width:100%;
    padding: 15px;
    
  }



header {

    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
    background-color: blue;
    text-align: center;
    padding: 15px;

  }


  .nav {
    overflow: hidden;



    background-color: black;

    height: 2em;
    
  }
  .nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }

.nav a:hover{
    background-color: blackblue;
  color: purple;
}

h1{
    text-align : center;
}
img{
    display: block;
    margin-left: 80%;
    width: 10%;
    margin-bottom: 2em;
}

.text{
    margin-right: 30%;
    margin-left: 2em;
    
    
}

footer{
    

        

        background-color: blue;
        text-align: center;
        padding: 20px;
        color: white;
     
}

.glossary{
  text-align: center;
}
@media screen and (max-width:600px) {
    .row {
      width: 100%;
    }
  }


